@import "compass/reset";
$PrimaryColor:#bd0020;
$wordsWhite:#d5d4d4;
$nowPlayball: url(../images/redBall.gif);
$topLogo: url(../images/integrateLogo.jpg);

#businessCard{
	position: absolute;
	top:200px;
	right: 0px;
	figure{
		background: url(../images/aaronQRcode.jpg)center top no-repeat;
		width: 107px;
		height: 291px;
	}
}
	
	body {
		background-color: #c2c2c2;
		font-size: 14px;
		color: $wordsWhite;
		font-family: Arial, "Microsoft YaHei", "宋体", "Lucida Sans Unicode", Helvetica, Verdana, sans-serif;
		}
	a{
		text-decoration: none;
	}	
	
	#mainContent{
		width: 1300px;
		margin: 0px auto ;
	}

	.hideWords{
	display: none;
	}

header{
	background-color: #272727;
	#logo{
		margin: 0px auto;
	width: 219px;
	height: 138px;
	background: $topLogo center top no-repeat;
	}
	#mainBar{
		height: 37px;
		background-color:$PrimaryColor;
		border-bottom: 1px solid #6A0013;
		ul{			
			margin: 0 auto;
			li{
				padding: 10px 60px;
				float: left;
				font-size: 18px;
				&:hover{
					background-color: #FD554D;
				}
				a{
					color: #d5d4d4;
				}
			#gamesMenu{
				clear: left;
				position:absolute;
				float: none;
				padding: 15px 0px 15px 0px;
				margin-top: 10px;
				margin-left: -60px;
				z-index: 9;
				background-color:$PrimaryColor;
				visibility: hidden;
				li{
					margin: 0px;
					float: none;
				}
			}	
			}
			.intro_games:hover{
				#gamesMenu{
					visibility: visible;
				}
			}
		}
	}	
}


#slideShow{
	background-color: #F8F8F5;
	padding: 0px 0px 60px 0px;
	div{
		 width: 938px;
		 height: 279px;
		 margin: 0px auto;
		}
}

#slideShowSelect{
		width: 100px;
		margin: 25px auto;
				a{
					margin: 0px 7px;
				display: inline-block;
					width: 15px;
				height: 15px;
				background: url(../images/grayBall.gif) center top no-repeat;
				}
			
			.nowPlay{
				background-image:$nowPlayball;
				}
}


#agentResouse{
	background-color: #c2c2c2;
	margin: 0px 0px 40px 0px;
	ul{
		overflow: hidden;
		li{
			a{				
				figure{
					background-color: $PrimaryColor;
					display: block;
					height: 214px;
					span{
						visibility: hidden;
					}
					div{
						margin: 152px 0px 0px 0px;
					figcaption{
						background-color: #272727;
						border-top: 4px solid $PrimaryColor;
						color: $wordsWhite;
						padding: 15px 0px;
						text-align: center;
						font-size: 17px;
						}
					}
				}
				.videoImg{
				background: url(../images/video.jpg) center top no-repeat;
				}
				.bannerImg{
				background: url(../images/banner.jpg) center top no-repeat;
				}
				.websiteImg{
				background: url(../images/website.jpg) center top no-repeat;			
			}
			}
		}
	}
}

footer{
	border-bottom: 7px solid $PrimaryColor;
	background-color: #272727;
	padding:0px;
 
 p{
 	    color: #d5d4d4;
		padding: 20px 0px;
		text-align:       center;
  }
}