@import "presentationWeb/*.png";
@import "presentationVideo/*.png";
@import "presentationBanner/*.png";
@import "live/*.png";
@import "slot/*.png";
@import "lottery/*.png";
@include all-presentationWeb-sprites;
@include all-presentationVideo-sprites; 
@include all-presentationBanner-sprites;
@include all-live-sprites;
@include all-slot-sprites;
@include all-lottery-sprites;

$PrimaryColor:#bd0020;

body{
	background-color: #F8F8F5;
}

.resouceImg{
	background: url(../images/webResouceImgR.jpg) center top no-repeat;
	height: 513px;
	margin:-1px 50px 50px 0px;
	position: relative;
}
#videoImg{
	background-image: url(../images/videoResouceImgR.jpg);
}

#bannerImg{
	background-image: url(../images/bannerResouceImgR.jpg);
	background-position: 0px;
}

#questionImg{
	background-image: url(../images/question_r.jpg);
	background-position: 0px;
}

#livegame{
	background-image: url(../images/livegame_r.jpg);
	background-position: 0px;
}

#slotgame{
	background-image: url(../images/slotgame_r.jpg);
	background-position: 0px;
}

#lotterygame{
	background-image: url(../images/lotterygame_r.jpg);
	background-position: 0px;
}

#presentationResouse{
	padding: 15px 0px;

	article{
		p{
			margin: 20px 12px;
			font-size: 16px;
			color: #74795B;
			line-height: 29px;
			text-indent: 2em;
		}
	}
	figure{
			margin: 28px 5px;
			div{
					height: 105px;
					margin-top: -1px;
					background-color: $PrimaryColor;
			}
			article{
				margin: 0px; 
						h1{
						border-bottom: 2px solid $PrimaryColor;
						width: 138px;
						padding: 0px 0px 7px 1px;
						color: $PrimaryColor;
						font-size: 19px;
						font-weight: bold;
							}
					}
					
					h2{
					padding: 7px 0px;
					font-size: 14px;
					color: #4e4e4e;
					 }

					 p{
					 	padding: 7px 0px;
					font-size: 14px;
					color: #4e4e4e;
					margin: 0px;
					text-indent:0em;
					line-height: 20px;
					 }
		}
}

@mixin heading_base{
	font-size: 20px;
			margin: 20px 0px;
			font-weight:bold; 
			color: $PrimaryColor;
}

#questions{
	article{
		font-size: 13px;
		color: #74795B;
		text-indent: 2em;
		line-height: 29px;
		p{
			margin: 20px 0px;
			padding-left: 0px;	
		}
		h1{
			@include heading_base;
		}
		ol{
			text-indent: 0em;
			list-style-type:upper-roman;
			list-style-position:inside;
			padding: 0px 0px 50px 0px; 
		}
	}
	figure figcaption{
	 @include heading_base;
	}
}

#sb-player{
	img{
		margin: 10px;
		float: left;
		margin-top: 85px;
	}
	article{
		background: url(../images/plate.jpg) center top no-repeat;
		float: left;
		width: 690px;
		height: 400px;
			h1{
				color:$PrimaryColor; 
				font-weight: bold;
				font-size: 60px;
				line-height: 90px;
				text-indent: 25px;

			}
			p{
				font-size: 15px;
				text-indent: 25px;
				line-height: 30px;
				padding:0px 20px 0px 20px;
				text-indent: 0px;
			}
			a{
				color: #C4A4AC;
				display: none;
				position: absolute;
				bottom: 30px;
				right:30px;
				background: url(../images/red_btn_normail.gif) center top no-repeat;
				font-size: 17px;
				width: 120px;
				height: 18px;
				padding:15px 30px;
				&:hover{
					color: #B00000;
					background-image: url(../images/red_btn_hover.gif);
				}
			}
		}
} 


.easyhtml5video{
			float:left;
			margin: 10px
		}

		.video_discript{
			margin:10px;
		h1{
		color:$PrimaryColor; 
			font-weight: bold;
			font-size: 40px;
			line-height: 60px;
			text-indent: 13px;
		}

		h2{
			font-size: 20px;
			text-indent: 13px;
			line-height: 28px;
		}
		}
 