.resouceImg {
  background-image: url(../images/webResouceImgB.jpg);
}

#videoImg {
  background-image: url(../images/videoResouceImgB.jpg);
}

#bannerImg {
  background-image: url(../images/bannerResouceImgB.jpg);
  background-position: 0px;
}

#questionImg {
  background-image: url(../images/question_b.jpg);
  background-position: 0px;
}

#livegame {
  background-image: url(../images/livegame_b.jpg);
  background-position: 0px;
}

#slotgame {
  background-image: url(../images/slotgame_b.jpg);
  background-position: 0px;
}

#lotterygame {
  background-image: url(../images/lotterygame_b.jpg);
  background-position: 0px;
}

#presentationResouse {
  padding: 15px 0px;
}
#presentationResouse figure div {
  background-color: #006bc4;
}
#presentationResouse figure article h1 {
  border-bottom: 2px solid #006bc4;
  color: #006bc4;
}
