.presentationWeb-sprite, .presentationWeb-bb3d, .presentationWeb-colordish, .presentationWeb-keno, .presentationWeb-slot, .presentationWeb-sport, .presentationWeb-texaPoker {
  background: url('../images/presentationWeb-sd61b5b9a9e.png') no-repeat;
}

.presentationVideo-sprite, .presentationVideo-game_live_bb3d, .presentationVideo-game_live_dt, .presentationVideo-game_live_mahjong, .presentationVideo-game_live_roulette, .presentationVideo-game_live_sedie, .presentationVideo-game_live_sicbo, .presentationVideo-game_live_texas, .presentationVideo-game_live_wenzhou {
  background: url('../images/presentationVideo-s53965556fb.png') no-repeat;
}

.presentationBanner-sprite, .presentationBanner-ban1000x60, .presentationBanner-ban120X120, .presentationBanner-ban120X180, .presentationBanner-ban120X210, .presentationBanner-ban200X125, .presentationBanner-ban200X125_2, .presentationBanner-ban68X280, .presentationBanner-ban890X86, .presentationBanner-ban940X69, .presentationBanner-ban955X57, .presentationBanner-ban958X50, .presentationBanner-ban960x320, .presentationBanner-ban960x70, .presentationBanner-ban980X80 {
  background: url('../images/presentationBanner-s1a0117c60b.png') no-repeat;
}

.live-sprite, .live-game_live_baccarat, .live-game_live_bb, .live-game_live_bb3d, .live-game_live_dt, .live-game_live_mahjong, .live-game_live_roulette, .live-game_live_sedie, .live-game_live_sicbo, .live-game_live_texas, .live-game_live_wenzhou, .live-game_lottery_actc, .live-game_lottery_bb, .live-game_lottery_bc, .live-game_lottery_beijing {
  background: url('../images/live-s5836ff1910.png') no-repeat;
}

.slot-sprite, .slot-game_slot_crazy, .slot-game_slot_fruit, .slot-game_slot_horse, .slot-game_slot_number, .slot-game_slot_sex, .slot-game_slot_tropical {
  background: url('../images/slot-sd69036f89a.png') no-repeat;
}

.lottery-sprite, .lottery-game_lottery_actc, .lottery-game_lottery_bb, .lottery-game_lottery_bc, .lottery-game_lottery_beijing {
  background: url('../images/lottery-s81307fcd4c.png') no-repeat;
}

.presentationWeb-bb3d {
  background-position: 0 -210px;
}

.presentationWeb-colordish {
  background-position: 0 -525px;
}

.presentationWeb-keno {
  background-position: 0 -420px;
}

.presentationWeb-slot {
  background-position: 0 0;
}

.presentationWeb-sport {
  background-position: 0 -105px;
}

.presentationWeb-texaPoker {
  background-position: 0 -315px;
}

.presentationVideo-game_live_bb3d {
  background-position: 0 -980px;
}

.presentationVideo-game_live_dt {
  background-position: 0 -560px;
}

.presentationVideo-game_live_mahjong {
  background-position: 0 -420px;
}

.presentationVideo-game_live_roulette {
  background-position: 0 0;
}

.presentationVideo-game_live_sedie {
  background-position: 0 -280px;
}

.presentationVideo-game_live_sicbo {
  background-position: 0 -140px;
}

.presentationVideo-game_live_texas {
  background-position: 0 -840px;
}

.presentationVideo-game_live_wenzhou {
  background-position: 0 -700px;
}

.presentationBanner-ban1000x60 {
  background-position: 0 -1260px;
}

.presentationBanner-ban120X120 {
  background-position: 0 -700px;
}

.presentationBanner-ban120X180 {
  background-position: 0 0;
}

.presentationBanner-ban120X210 {
  background-position: 0 -280px;
}

.presentationBanner-ban200X125 {
  background-position: 0 -140px;
}

.presentationBanner-ban200X125_2 {
  background-position: 0 -420px;
}

.presentationBanner-ban68X280 {
  background-position: 0 -1820px;
}

.presentationBanner-ban890X86 {
  background-position: 0 -840px;
}

.presentationBanner-ban940X69 {
  background-position: 0 -980px;
}

.presentationBanner-ban955X57 {
  background-position: 0 -1540px;
}

.presentationBanner-ban958X50 {
  background-position: 0 -1400px;
}

.presentationBanner-ban960x320 {
  background-position: 0 -560px;
}

.presentationBanner-ban960x70 {
  background-position: 0 -1120px;
}

.presentationBanner-ban980X80 {
  background-position: 0 -1680px;
}

.live-game_live_baccarat {
  background-position: 0 -980px;
}

.live-game_live_bb {
  background-position: 0 -280px;
}

.live-game_live_bb3d {
  background-position: 0 -1260px;
}

.live-game_live_dt {
  background-position: 0 -840px;
}

.live-game_live_mahjong {
  background-position: 0 -560px;
}

.live-game_live_roulette {
  background-position: 0 0;
}

.live-game_live_sedie {
  background-position: 0 -420px;
}

.live-game_live_sicbo {
  background-position: 0 -140px;
}

.live-game_live_texas {
  background-position: 0 -1120px;
}

.live-game_live_wenzhou {
  background-position: 0 -700px;
}

.live-game_lottery_actc {
  background-position: 0 -1680px;
}

.live-game_lottery_bb {
  background-position: 0 -1400px;
}

.live-game_lottery_bc {
  background-position: 0 -1540px;
}

.live-game_lottery_beijing {
  background-position: 0 -1820px;
}

.slot-game_slot_crazy {
  background-position: 0 -560px;
}

.slot-game_slot_fruit {
  background-position: 0 -280px;
}

.slot-game_slot_horse {
  background-position: 0 -700px;
}

.slot-game_slot_number {
  background-position: 0 0;
}

.slot-game_slot_sex {
  background-position: 0 -140px;
}

.slot-game_slot_tropical {
  background-position: 0 -420px;
}

.lottery-game_lottery_actc {
  background-position: 0 -420px;
}

.lottery-game_lottery_bb {
  background-position: 0 0;
}

.lottery-game_lottery_bc {
  background-position: 0 -140px;
}

.lottery-game_lottery_beijing {
  background-position: 0 -280px;
}

body {
  background-color: #F8F8F5;
}

.resouceImg {
  background: url(../images/webResouceImgR.jpg) center top no-repeat;
  height: 513px;
  margin: -1px 50px 50px 0px;
  position: relative;
}

#videoImg {
  background-image: url(../images/videoResouceImgR.jpg);
}

#bannerImg {
  background-image: url(../images/bannerResouceImgR.jpg);
  background-position: 0px;
}

#questionImg {
  background-image: url(../images/question_r.jpg);
  background-position: 0px;
}

#livegame {
  background-image: url(../images/livegame_r.jpg);
  background-position: 0px;
}

#slotgame {
  background-image: url(../images/slotgame_r.jpg);
  background-position: 0px;
}

#lotterygame {
  background-image: url(../images/lotterygame_r.jpg);
  background-position: 0px;
}

#presentationResouse {
  padding: 15px 0px;
}
#presentationResouse article p {
  margin: 20px 12px;
  font-size: 16px;
  color: #74795B;
  line-height: 29px;
  text-indent: 2em;
}
#presentationResouse figure {
  margin: 28px 5px;
}
#presentationResouse figure div {
  height: 105px;
  margin-top: -1px;
  background-color: #bd0020;
}
#presentationResouse figure article {
  margin: 0px;
}
#presentationResouse figure article h1 {
  border-bottom: 2px solid #bd0020;
  width: 138px;
  padding: 0px 0px 7px 1px;
  color: #bd0020;
  font-size: 19px;
  font-weight: bold;
}
#presentationResouse figure h2 {
  padding: 7px 0px;
  font-size: 14px;
  color: #4e4e4e;
}
#presentationResouse figure p {
  padding: 7px 0px;
  font-size: 14px;
  color: #4e4e4e;
  margin: 0px;
  text-indent: 0em;
  line-height: 20px;
}

#questions article {
  font-size: 13px;
  color: #74795B;
  text-indent: 2em;
  line-height: 29px;
}
#questions article p {
  margin: 20px 30px;
}
#questions article h1 {
  font-size: 20px;
  margin: 20px 0px;
  font-weight: bold;
  color: #bd0020;
}
#questions article ol {
  text-indent: 0em;
  list-style-type: upper-roman;
  padding: 0px 0px 50px 0px;
}
#questions figure figcaption {
  font-size: 20px;
  margin: 20px 0px;
  font-weight: bold;
  color: #bd0020;
}

#sb-player img {
  margin: 10px;
  float: left;
  margin-top: 100px;
}
#sb-player article {
  background: url(../images/plate.jpg) center top no-repeat;
  float: left;
  width: 690px;
  height: 400px;
}
#sb-player article h1 {
  color: #bd0020;
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-indent: 25px;
}
#sb-player article p {
  font-size: 15px;
  text-indent: 25px;
  line-height: 30px;
  padding: 0px 20px 0px 20px;
  text-indent: 0px;
}
#sb-player article a {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: #bd0020;
  font-size: 17px;
  padding: 14px;
}
#sb-player article a:hover {
  background-color: #fd554d;
}
